footer {
  color: black;
  display: flex;
  justify-content: center;
  height: 60px;
  font-size: 12px;
}

footer > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-caracters {
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin: 0px 3px;
}
